---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import ThemedInput from '../components/ThemedInput.astro'
import ThemedTextarea from '../components/ThemedTextarea.astro'

const heroProps = {
  title: 'Contact',
  subtitle: 'I have time for you. Contact me.',
}
---

<Layout
  title="Contact"
  description="Contact Żentała Innovation Agency. Let's talk about your project. I am always ready to help you."
>
  <Hero {...heroProps} />
  <section class="section-full">
    <div class="container-bordered">
      <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8"> -->
      <!-- <section class="p-12"> -->
      <div class="flex justify-between">
        <div class="w-1/3 p-16">
          <h2 class="text-4xl font-normal mb-4">Let's Talk</h2>
          <p class="mb-6 text-xl pr-16">
            Fell free to contact me. <br />I am always ready to help you.
          </p>
          <div class="flex items-center mb-4">
            <img
              src="https://avatars.githubusercontent.com/u/7286123?v=4"
              alt="Paweł Żentała"
              class="w-24 h-24 rounded-full mr-4"
            />
            <div>
              <h3 class="text-2xl font-semibold">Paweł Żentała</h3>
              <p class="mt-1">
                <a href="mailto:zentala@gmail.com">zentala@gmail.com</a>
              </p>
              <a href="tel:+48517178984">+48 517 17 89 84</a>
            </div>
          </div>
        </div>
        <div class="w-2/3 p-0 border-l border-gray-800">
          <div class="cards-grid grid-cols-2">
            <ThemedInput type="text" id="fName" placeholder="First Name" />
            <ThemedInput type="text" id="lName" placeholder="Last Name" />
            <ThemedInput type="email" id="email" placeholder="Email" />
            <ThemedInput type="tel" id="phone" placeholder="Phone" />

            <div class="col-span-2">
              <ThemedTextarea id="msg" placeholder="Your message" />
            </div>
            <div class="col-span-2 text-right">
              <button
                type="submit"
                class="border border-gray-800 p-8 px-16 text-lg font-normal hover:bg-gray-900 hover:border-blue-400 hover:text-white transition-all duration-200"
              >
                Send Message
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>
</Layout>
