---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'

const heroProps = {
  title: 'FAQ',
  subtitle: '...',
}

const faqData = [
  {
    question: 'How do I know if a product is available in boutiques?',
    answer:
      'Remember you can query the status of your orders any time in My orders in the My account section. If you are not registered at Mango.com, you can access directly in the Orders section. In this case, you will have to enter your email address and order number.',
  },
  {
    question:
      'How can I find the prices or get other information about Chanel products?',
    answer:
      'Remember you can query the status of your orders any time in My orders in the My account section. If you are not registered at Mango.com, you can access directly in the Orders section. In this case, you will have to enter your email address and order number.',
  },
  {
    question: 'How many collections come out every year?',
    answer:
      'Remember you can query the status of your orders any time in My orders in the My account section. If you are not registered at Mango.com, you can access directly in the Orders section. In this case, you will have to enter your email address and order number.',
  },
  {
    question: 'Are all of the fashion collections featured on the website?',
    answer:
      'Remember you can query the status of your orders any time in My orders in the My account section. If you are not registered at Mango.com, you can access directly in the Orders section. In this case, you will have to enter your email address and order number.',
  },
  {
    question:
      'Where do I find products that I have seen in magazines or Social Media?',
    answer:
      'Remember you can query the status of your orders any time in My orders in the My account section. If you are not registered at Mango.com, you can access directly in the Orders section. In this case, you will have to enter your email address and order number.',
  },
]
---

<Layout title="FAQ">
  <Hero {...heroProps} />
  <main class="bg-slate-200">
    <div class="lg:container lg:mx-auto lg:py-16 md:py-12 md:px-6 py-12 px-4">
      <h1
        class="text-center lg:text-4xl text-3xl lg:leading-9 leading-7 text-black font-semibold"
      >
        FAQ's
      </h1>

      <div
        class="lg:mt-12 bg-gray-100 md:mt-10 mt-8 lg:py-7 lg:px-6 md:p-6 py-6 px-4 lg:w-8/12 w-full mx-auto"
      >
        <div class="flex justify-between md:flex-row flex-col">
          <div class="md:mb-0 mb-8 md:text-left text-center">
            <h2 class="font-medium text-xl leading-5 text-black lg:mb-2 mb-4">
              Questions
            </h2>
            <p
              class="font-normal text-sm leading-5 text-gray-600 md:w-8/12 md:ml-0 w-11/12 mx-auto"
            >
              If you don’t find your answer, Please contact us or Leave a
              Message, we’ll be more than happy to assist you.
            </p>
          </div>

          <div class="flex justify-center items-center">
            <div
              class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 flex bg-white md:justify-center justify-between items-center px-4 py-3 w-full"
            >
              <input
                class="focus:outline-none bg-white"
                type="text"
                placeholder="Search"
              />
              <img
                src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg1.svg"
                alt="search"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-8/12 w-full mx-auto">
        {
          faqData.map((faq, index) => (
            <div data-key={index}>
              <hr class="w-full lg:mt-10 md:mt-12 md:mb-8 my-8" />
              <div class="w-full md:px-6">
                <div
                  id="mainHeading"
                  class="flex justify-between items-center w-full"
                >
                  <div class="cursor-pointer" data-menu>
                    <p class="flex justify-center items-center font-medium text-base leading-6 md:leading-4 text-black">
                      <span class="lg:mr-6 mr-4 lg:text-2xl md:text-xl text-lg leading-6 md:leading-5 lg:leading-4 font-semibold text-black">
                        Q{index + 1}.
                      </span>
                      {faq.question}
                    </p>
                  </div>
                  <button
                    aria-label="toggler"
                    class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800"
                    data-menu
                  >
                    <img
                      class="transform hidden"
                      src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2.svg"
                      alt="toggler"
                    />
                    <img
                      class="transform hidden"
                      src="https://tuk-cdn.s3.amazonaws.com/can-uploader/faq-8-svg2dark.svg"
                      alt="toggler"
                    />
                  </button>
                </div>
                <div id="menu" class="hidden mt-6 w-full">
                  <p class="text-base leading-6 text-gray-600 font-normal">
                    {faq.answer}
                  </p>
                </div>
              </div>
            </div>
          ))
        }
        <hr class="w-full lg:mt-10 my-8" />
      </div>
    </div>
  </main>
</Layout>

<script>
  let elements = document.querySelectorAll('[data-menu]')
  for (let i = 0; i < elements.length; i++) {
    let main = elements[i]

    main.addEventListener('click', function () {
      let element = main.parentElement?.parentElement
      let indicators = main.querySelectorAll('img')
      let child = element?.querySelector('#menu')
      let h = element?.querySelector('#mainHeading>div>p')

      h?.classList.toggle('font-semibold')
      child?.classList.toggle('hidden')
      // console.log(indicators[0]);
      indicators[0]?.classList.toggle('rotate-180')
    })
  }
</script>
