---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Home"
  description="Żentała - Driving progress through cutting-edge technology solutions in software, IoT, and automation. Let's build the future, together."
>
  <section class="bg-black border-b border-gray-800 grid-pattern">
    <div class="container mx-auto max-w-8xl p-24 border-x border-gray-800">
      <img src="./logo.ext.svg" class="mx-auto max-w-6xl" />
    </div>
  </section>

  <style></style>
</Layout>
