---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
  <section class="hero bg-black flex justify-center items-center py-48">
    <div class="container mx-auto">
      <img src="./logo.ext.svg" class="mx-auto" />
    </div>
  </section>
</Layout>

<style></style>
