---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'

const heroProps = {
  title: 'Żentała',
  subtitle: '',
}
---

<Layout
  title="Home"
  description="Żentała - Driving progress through cutting-edge technology solutions in software, IoT, and automation. Let's build the future, together."
>
  <Hero {...heroProps} />
  <main class="bg-black border-y border-gray-800">
    <div class="container mx-auto max-w-8xl border-x border-gray-800 p-24">
      <img src="./logo.ext.svg" class="mx-auto max-w-6xl" />
    </div>
  </main>

  <style></style>
</Layout>
