---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Home"
  description="Żentała - Driving progress through cutting-edge technology solutions in software, IoT, and automation. Let's build the future, together."
>
  <section class="section-grid">
    <div class="container-padded py-responsive-lg">
      <div class="responsive-logo mx-auto">
        <img src="./logo.ext.svg" alt="Żentała Innovation Agency" />
      </div>
    </div>
  </section>

  <style></style>
</Layout>
