---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="Home"
  description="Żentała - Driving progress through cutting-edge technology solutions in software, IoT, and automation. Let's build the future, together."
>
  <section class="section-grid">
    <div class="container-padded spacing-xl">
      <img src="./logo.ext.svg" class="mx-auto max-w-6xl" />
    </div>
  </section>

  <style></style>
</Layout>
