---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import PortfolioItem from '../components/PortfolioItem.astro'

const heroProps = {
  title: 'Portfolio',
  subtitle: 'Best examples of my works',
}

const elements = [
  {
    title: 'Real Time Location Systems',
    subtitle:
      'RTLS is form of indoor GPS. It uses IoT wireless technologies to track people, vehicle or assets in real time. You probably had contact with RTLS system in McDonalds - when you take tent so they could bring order to your table. I developed software and deopyed this kind of systems on-site for busnesses all over the world. This give me a chance to learn about hardware, architectures, location algorithms and busines practices regarding impelemntation.',
    image: '/images/portfolio/rtls.jpg',
    link: '/portfolio/rtls',
  },
  {
    title: 'Smart Home',
    subtitle:
      'Smart home is a concept of technology that allows you to control your home appliances remotely. I developed a custom smart home system for my own apartament in Warsaw. It was a great opportunity to learn about IoT Smart Home architectures, standards, technologies, software, hardware. Additionaly I designed and installed on my own electrical grid in the flat (it required modernisation). This experience gives me conprehensive understaning of smart living solutions.',
    image: '/images/portfolio/smart-home.jpg',
    link: '/portfolio/smart-home',
  },
  {
    title: 'Backstage Developer Portals',
    subtitle:
      'I developer few dev portrtals for my clients. I was leading processes of evangelising, facilitation, development and support others devs in Backstage development.',
    image: '/images/portfolio/backstage.jpg',
    link: '/portfolio/backstage',
  },
  {
    title: 'Open Smart Desk',
    subtitle:
      "An innovative, sensor-equipped desk that adjusts its height based on the user's time spent in front of the computer. It can suggest breaks or raise itself autonomously to encourage standing work.",
    image: '/images/portfolio/open-smart-desk.jpg',
    link: '/portfolio/open-smart-desk',
  },
  {
    title: 'NFC Table',
    subtitle: 'Detects presence of object on the table',
  },
  {
    title: 'Game Player Nick Finder',
    subtitle:
      'Python Django powerded web app helping to connect with old RPG gamming buddies via nicks. Just register yourself and let others find you by nick.',
  },
  {
    title: 'Scrum My Life',
    subtitle:
      'Vue + Nuxt app for managing your life. It implements such time managment metodologies like scrum, eisenhower matrix, circle of life and more to help you organize you pivate life. ',
  },
  {
    title: 'MoveUp',
    subtitle:
      'Open Smart Desk comanion app that laverages data form sensors in order to encourage you to move up. It can suggest breaks or raise itself autonomously to encourage standing work.',
  },
  {
    title: 'WFH Signalizator',
    subtitle:
      'IoT device for working in home proffesionalss. Helps to inform other householders about your state of remote involvment - if you are on the call with camera, if spekaing, are you busy or not. ',
  },

  // wififorum
  // futures studies
  // strategie marketingu
  // wifi live
]
---

<Layout title="Portfolio">
  <Hero {...heroProps} />
  <main class="bg-black border-y border-gray-800">
    <div class="container mx-auto p-0 max-w-8xl border-x border-gray-800">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {
          elements.map((element, index) => (
            <PortfolioItem key={`portfolio-${index}`} {...element} />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
