---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import PortfolioItem from '../components/PortfolioItem.astro'

const heroProps = {
  title: 'Portfolio',
  subtitle: 'Best examples of my works',
}

const elements = [
  {
    title: 'Real Time Location Systems',
    subtitle:
      "RTLS is a form of indoor GPS. It uses IoT wireless technologies to track people, vehicles, or assets in real time. You probably have encountered an RTLS system at McDonald's when you take a tent so they can bring your order to your table. I developed software and deployed these systems on-site for businesses worldwide. This experience gave me the opportunity to learn about hardware, architectures, location algorithms, and business practices regarding implementation.",
    image: '/images/portfolio/rtls.jpg',
    link: '/portfolio/rtls',
  },
  {
    title: 'Smart Home',
    subtitle:
      'I designed and built a new electrical system for my 50m² apartment, integrating a smart home and alarm system. The smart home features light bulb control, LED dimming, window and door sensors, water leak sensors and valves, motion detectors, humidity sensors with connected fans, and heating controllers. It automates daily operations related to lighting, thermal comfort, ventilation, and security in the modernized apartment.',
    image: '/images/portfolio/smart-home.jpg',
    link: '/portfolio/smart-home',
  },
  {
    title: 'Backstage Developer Portals',
    subtitle:
      'I led the development of multiple developer portals, enhancing the developer experience in Backstage. I managed processes of evangelizing, facilitating, developing, and supporting other developers. My expertise includes design customization, custom catalog integrations, plugin development, and creating robust software templates. My leadership improved team capabilities and efficiency.',
    image: '/images/portfolio/backstage.jpg',
    link: '/portfolio/backstage',
  },
  {
    title: 'Open Smart Desk',
    subtitle:
      "An innovative, sensor-equipped desk that adjusts its height based on the user's time spent in front of the computer. It can suggest breaks or raise itself autonomously to encourage standing work.",
    image: '/images/portfolio/open-smart-desk.jpg',
    link: '/portfolio/open-smart-desk',
  },
  {
    title: 'NFC Table',
    subtitle:
      'Detects the presence of objects on tables or shelves in retail settings. It measures where customers place objects, which items are frequently picked up, and how long they hold them. This allows for real-time targeting of complementary advertisements.',
  },
  {
    title: 'Game Player Nick Finder',
    subtitle:
      'A unique platform developed to help users reconnect with their old RPG gaming buddies via their nicknames. Users can search for old friends, register, and create detailed character profiles. The platform includes direct messaging and email notifications for new friend requests and messages, aiming to revive the joy of shared gaming experiences.',
  },
  {
    title: 'Scrum My Life',
    subtitle:
      'Vue + Nuxt app for managing your life. It implements such time managment metodologies like scrum, eisenhower matrix, circle of life and more to help you organize you pivate life. ',
  },
  {
    title: 'MoveUp',
    subtitle:
      'Open Smart Desk comanion app that laverages data form sensors in order to encourage you to move up. It can suggest breaks or raise itself autonomously to encourage standing work.',
  },
  {
    title: 'WFH Signalizator',
    subtitle:
      'IoT device for working in home proffesionalss. Helps to inform other householders about your state of remote involvment - if you are on the call with camera, if spekaing, are you busy or not. ',
  },

  // wififorum
  // futures studies
  // strategie marketingu
  // wifi live
]
---

<Layout
  title="Portfolio"
  description="Explore the portfolio of Żentała Innovation Agency, showcasing projects in Real Time Location Systems, Smart Home, Backstage Developer Portals, and more."
>
  <Hero {...heroProps} />
  <main class="bg-black border-y border-gray-800">
    <div class="container mx-auto p-0 max-w-8xl border-x border-gray-800">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {
          elements.map((element, index) => (
            <PortfolioItem key={`portfolio-${index}`} {...element} />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
