---
import SectionGrid from '../primitives/sections/SectionGrid.astro'
---

<div class="featured-projects">
  <h3 class="projects-title">Featured Projects</h3>
  <SectionGrid columns={3}>
    <slot />
  </SectionGrid>
</div>

