---
import Logo from '../components/Logo.astro'
const footerLogoProps = {
  link: '/',
  color: '#FFFFFF',
  type: 'full',
  height: '60px',
  width: '80%',
}
---

<style lang="scss">
  .footer-heading {
    @apply uppercase font-semibold mb-6 relative;
    letter-spacing: 0.26rem;
  }

  a {
    background: transparent;
    position: relative;
    z-index: 1;

    &:hover {
      cursor: pointer;
      background: transparent;

      &::after {
        content: '';
        position: absolute;
        left: -1px;
        bottom: 2px;
        width: 100%;
        height: 8px;
        background-color: currentColor;
        opacity: 0.2;
        z-index: -1;
      }
    }
  }
</style>

<footer class="bg-black text-white border-t border-gray-800">
  <div class="container mx-auto py-8 px-16 max-w-8xl border-x border-gray-800">
    <div class="mb-6 lg:mb-0 flex justify-between items-center">
      <div>
        <Logo {...footerLogoProps} />
      </div>
      <div class="flex justify-end text-3xl space-x-4 text-gray-400">
        <a
          href="https://www.linkedin.com/in/zentala/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-300 hover:text-gray-100"
          ><i class="fa-brands fa-linkedin"></i></a
        >
        <a
          href="https://www.facebook.com/zentala/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-300 hover:text-gray-100"
          ><i class="fa-brands fa-facebook"></i></a
        >
        <!-- <a
          href="https://www.instagram.com/pzentala/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-300 hover:text-gray-100"
          ><i class="fa-brands fa-instagram"></i></a
        > -->
        <a
          href="https://github.com/zentala"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-300 hover:text-gray-100"
          ><i class="fa-brands fa-github"></i></a
        >
        <a
          href="mailto:zentala@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-300 hover:text-gray-100"
          ><i class="fa-regular fa-envelope"></i></a
        >
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 text-sm">
      <!-- <div class="mb-6 lg:mb-0">
        Żentała Innovation Agency specializes in implementing comprehensive
        applications and solutions in software, web development, marketing,
        artificial intelligence, automation, robotics, and the Internet of
        Things (IoT). I deliver advanced technologies that effectively enhance
        the operational value and competitiveness of your company in the market.
      </div>
      <div>
        I actively engage in developing customized solutions, starting from
        understanding client challenges to prototyping and implementing tailored
        solutions. This process includes a thorough needs analysis and bespoke
        solution design, ensuring that each prototype precisely meets the
        specific requirements of the project.
      </div>
      <div>
        My services include a broad spectrum focused on the early stages of
        future technology deployment. Key activities involve education and
        consulting on new technologies, prototype building (Proof of Concept),
        and forming IT teams for ongoing development and maintenance.
      </div>-->
    </div>
  </div>
  <div class="flex items-center border-y border-gray-800">
    <div
      class="container mx-auto p-16 flex justify-between max-w-8xl border-x border-gray-800"
    >
      <div class="grid grid-cols-12 gap-4 w-full">
        <div class="col-span-5">
          <h2 class="footer-heading">About</h2>
          <p>
            Żentała Innovation Agency specializes in R&D projects and innovative
            solutions in software, Developer Experience, IoT, automation, and
            robotics. We deliver advanced technologies through customized
            solutions, from needs analysis to Proof of Concept, enhancing your
            company's competitiveness.
          </p>
          <!-- <p class="mt-2">
            More:
            <a href="#">Mission</a>, <a href="#">About</a>, <a href="#">Offer</a
            >
          </p> -->
        </div>
        <div class="col-span-2"></div>
        <div class="col-span-3">
          <h2 class="footer-heading">Offer</h2>
          <ul class="space-y-2">
            <li>Backstage Consulting</li>
            <li>IoT Solution Design</li>
            <li>Web Rapid Prototyping</li>
            <li>Real Time Location Systems</li>
            <li>Innovation Consulting</li>
          </ul>
        </div>
        <div class="col-span-2">
          <h2 class="footer-heading">Blogs</h2>
          <ul class="space-y-2">
            <li>
              <a href="https://ideas.zentala.io" target="_blank"
                >Startup Ideas</a
              >
            </li>
            <li>
              <a href="https://ihome.zentala.io" target="_blank"
                >Intelligent Home</a
              >
            </li>
            <li>
              <a href="https://wifi.zentala.io" target="_blank"
                >WiFi 802.11 Tech</a
              >
            </li>
            <li>
              <a href="https://dev.zentala.io" target="_blank"
                >Clever Developer</a
              >
            </li>
            <li>
              <a href="https://devexp.zentala.io" target="_blank">DevExp</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center">
    <div
      class="container mx-auto p-16 py-12 flex justify-between max-w-8xl border-x border-gray-800"
    >
      <div class="text-neutral-400 text-sm">
        © 2024 <a href="/" class="hover:text-neutral-200 text-neutral-300"
          >Żentała Innovation Agency</a
        >
        <span class="mx-2">·</span>
        <a
          href="/privacy-policy/"
          class="hover:text-neutral-200 text-neutral-300">Privacy Policy</a
        >
      </div>
      <div>
        <!-- <button class="text-gray-300 hover:text-gray-100">
          🇵🇱 <span class="sr-only">Switch language</span>
        </button> -->
      </div>
    </div>
  </div>
</footer>
