---
import Logo from '../components/Logo.astro'
const headerLogoProps = {
  link: '/',
  color: '#111',
  type: 'full',
  height: '40px',
  width: '200px',
  alt: 'Żentała',
}

const links = [
  { href: '/', text: 'Home' },
  { href: '/mission', text: 'Mission' },
  { href: '/about', text: 'About' },
  { href: '/offer', text: 'Offer' },
  { href: '/faq', text: 'FAQ' },
  { href: '/portfolio', text: 'Portfolio' },
  { href: '/blog', text: 'Blog' },
  { href: '/contact', text: 'Contact' },
]
---

<header class="bg-white shadow-md">
  <div class="container mx-auto px-4 py-6 flex justify-between items-center">
    <div class="flex items-center">
      <a href="/">
        <Logo {...headerLogoProps} />
        <span class="text-xl ml-4 text-gray-800">Innovation Agency</span>
      </a>
    </div>
    <nav class="flex space-x-6 text-lg">
      {
        links.map((link) => (
          <a href={link.href} class="text-gray-700 hover:text-gray-900">
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<style>
  header {
    /* background: #13151a;
        background-size: 224px; */
  }
</style>
