---
const { title, subtitle } = Astro.props
---

<section class="section-grid text-white text-center">
  <div class="container-padded spacing-lg">
    <h1 class="text-8xl font-light">{title}</h1>
    <h2 class="text-4xl mt-8 font-light text-gray-300">{subtitle}</h2>
  </div>
</section>
