---
const { title, subtitle } = Astro.props
---

<section class="bg-black text-white text-center">
  <div class="container mx-auto border-gray-800 border-x max-w-8xl p-24">
    <h1 class="text-8xl font-light">{title}</h1>
    <h2 class="text-4xl mt-8 font-light">{subtitle}</h2>
  </div>
</section>
