---
const { title, subtitle } = Astro.props
---

<section class="section-grid text-center text-white">
  <div class="container-padded py-responsive-lg">
    <h1 class="text-8xl font-light">{title}</h1>
    <h2 class="mt-8 text-4xl font-light text-gray-300">{subtitle}</h2>
  </div>
</section>
