---
const { title, subtitle } = Astro.props
---

<section class="bg-gray-800 text-white p-24 text-center">
  <h1 class="text-8xl font-bold">{title}</h1>
  <h2 class="text-4xl mt-8">{subtitle}</h2>
</section>
