---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
let Banner = null
const bannerEnd = frontmatter.bannerEnd

if (bannerEnd) {
  Banner = (await import(`../banners/${bannerEnd}.astro`)).default
}
---

<Layout title={frontmatter.title} description={frontmatter.excerpt}>
  <section class="section-full">
    <div class="container-padded">
      <article class="prose text-white">
        <slot />
      </article>
    </div>
  </section>

  {bannerEnd && Banner && <Banner />}
</Layout>
