---
import '../styles/global.scss'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = 'Żentała Innovation Agency provides 360° services in implementing cutting-edge technologies, from IoT and automation to bespoke software solutions.',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/71aeb2a21d.js"
      crossorigin="anonymous"
      is:inline></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Żentała Innovation Agency</title>
  </head>
  <body class="bg-dark-100">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
