---
import { Icon } from 'astro-icon/components'

export interface Props {
  icon: string
}
const { icon } = Astro.props

const isIconifyName = icon.includes(':')
---

<span class="card-background-icon">
  {
    isIconifyName ? (
      <Icon name={icon} class="card-background-icon__svg" />
    ) : (
      icon
    )
  }
</span>

<style>
  .card-background-icon {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 8rem;
    opacity: 0.06;
    transition: opacity 200ms ease-in-out;
    z-index: 0;
    pointer-events: none;
    color: #fff;
    line-height: 1;
  }

  :global(.card-container):hover .card-background-icon {
    opacity: 0.32;
  }

  .card-background-icon :global(.card-background-icon__svg) {
    width: 8rem;
    height: 8rem;
    stroke-width: 0.75;
  }

  @media (max-width: 770px) {
    .card-background-icon {
      font-size: 7rem;
    }
    .card-background-icon :global(.card-background-icon__svg) {
      width: 7rem;
      height: 7rem;
    }
  }

  @media (max-width: 480px) {
    .card-background-icon {
      font-size: 5rem;
    }
    .card-background-icon :global(.card-background-icon__svg) {
      width: 5rem;
      height: 5rem;
    }
  }
</style>
